<nav class="menu navbar navbar-expand-lg navbar-light fondo_menu">
    <div class="container-fluid">
        <!-- Contenedor Flex para organizar los elementos en columna -->
        <div class="d-flex flex-column w-100">
            <!-- Logo -->
            <div class="d-flex justify-content-center mb-3">
                <img src="./stock.png" class="imagen_logo" alt="Logo">
            </div>
            
            <!-- Título -->
            <h1 class="navbar-text d-flex justify-content-center text-light texto mb-3">StockUy</h1>
            <!-- Botones de navegación -->
            <div class="d-flex flex-column w-100">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Contenedor de los enlaces de navegación -->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav flex-column">
                        {{#each botones}}
                            <li class="nav-item">
                                <a class="nav-link text-light boton" href="{{ruta}}">{{nombre}}</a>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>