<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="col-5 formulario">
            <h2 class="text-center p-4">Registro</h2>
            <form id="formRegistro">
                <div class="mb-3">
                    <label for="nombre" class="form-label">Usuario</label>
                    <input type="text" class="form-control" id="usuario" placeholder="Ingrese su usuario">
                </div>
               <div class="mb-3">
                    <label for="nombre" class="form-label">Correo</label>
                    <input type="email" class="form-control" id="correo" placeholder="Ingrese su correo">
                </div>
                <div class="mb-3">
                    <label for="contraseña" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="contra" placeholder="Ingrese su contraseña">
                </div>
                <div class="mb-3">
                    <label for="contraseña" class="form-label">Repita su contraseña</label>
                    <input type="password" class="form-control" id="rep_contra" placeholder="Repita su contraseña">
                </div>
                <div class="mt-5 d-flex justify-content-center">
                    <button type="submit" class="boton_enviar" onclick="enviar_registro()">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>