.fondo_menu {
    position: fixed; /* Fija la barra de menú en la parte izquierda */
    top: 0;
    left: 0;
    width: 200px; /* Ancho de la barra de menú */
    height: 100%; /* Altura de la barra de menú */
    background-color: #2C3E50; /* Azul oscuro sobrio */
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5), 
                2px 2px 2px rgba(255, 255, 255, 0.1),
                3px 3px 3px rgba(44, 62, 80, 0.8), 
                4px 4px 2px rgba(255, 255, 255, 0.05), 
                5px 5px 2px rgba(15, 15, 15, 0.7);

    display: flex;
    flex-direction: column; /* Organiza los elementos en columna */
    justify-content: flex-start; /* Alinea los elementos al principio */
    align-items: center; /* Centra los elementos horizontalmente */
    padding-top: 20px; /* Espacio superior */
}

.d-flex {
    display: flex; /* Aplica el modelo Flexbox */
}

.flex-column {
    flex-direction: column; /* Asegura que los elementos estén en columna */
}

.navbar-nav {
    display: flex;
    flex-direction: column; /* Asegura que los elementos de la navegación estén en columna */
    align-items: flex-start; /* Alinea los elementos a la izquierda */
    width: 100%; /* Ocupa todo el ancho disponible */
    padding: 0; /* Elimina padding extra */
    margin: 0; /* Elimina margenes extra */
}

.nav-item {
    width: 100%; /* Hace que cada elemento de la lista ocupe el 100% del ancho disponible */
}

.boton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Los botones ocupan todo el ancho */
    height: 60px; /* Altura de los botones */
    background-color: #34495E; /* Gris azulado sobrio */
    color: #ECF0F1; /* Texto blanco suave */
    margin-bottom: 10px;
    border-radius: 5px; /* Bordes redondeados opcionales */
    text-align: center;
    padding: 0; /* Elimina padding innecesario */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton:hover {
    background-color: #1ABC9C; /* Verde agua al pasar el ratón */
}

.imagen_logo {
    width: 100px;
    height: 100px;
    margin-bottom: 20px; /* Espacio debajo del logo */
}

.texto {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 5px;
    text-align: center;
    color: #ECF0F1; /* Texto blanco suave */
    margin-bottom: 20px; /* Espacio debajo del texto */
}

.fondo_menu .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

